#banner {
  margin-bottom: 0;
}

.alert-info {
  background-color: $navbar-dark-brand-color;
}

.docs-banner {
  kbd {
    padding: 0 0.2rem;
  }

  p {
    margin-bottom: 0;
  }

  .nav-link {
    padding: 0;
  }

  &-dev {
    svg {
      fill: $warning-icon-color;
    }
  }

  &-new {
    background-color: $navbar-dark-brand-color;
    color: $link-color;

    .alert-link {
      color: $link-color;
    }
  }
}

// Hide edit link on extra-small devices like phones in portrait mode
// Begin showing at small breakpoint (landscape phones, 576px and up)

#editLink {
  display: none;
}

@include media-breakpoint-up(sm) {
  #editLink {
    display: flex;
    line-height: 1.2; // 1.5 !default;
    padding: 0.2rem 0.4rem; // Y: .25rem X: .5rem !default;
  }
}
