.dev-docs-banner {
  margin-bottom: 0;

  svg {
    fill: $warning-icon-color;
  }
}

// Hide edit link on extra-small devices like phones in portrait mode
// Begin showing at small breakpoint (landscape phones, 576px and up)

#editLink {
  display: none;
}

@include media-breakpoint-up(sm) {
  #editLink {
    display: block;
    margin-top: -2px;
  }
}
