// Sass partial to override Bootstrap & user agent defaults for code styles

// Common code rules (imported to other classes)
@mixin codeclass {
  font-family: $font-family-monospace;
  font-size: 90%;
  color: $gray-light;
}

// Based on Bootstrap code rules
.parmname {
  @include codeclass;
  background-color: $pre-bg;
  color: $gray-light;
  padding: 2px 4px;
  white-space: nowrap;
}

.codeblock {
  background-color: $pre-bg;
}

// Reset Bootstrap’s <code> rules to defaults
code {
  background-color: transparent;
  border-radius: 0;
  color: $gray-light;
  padding: 0;
}

.codeph,
.filepath,
.option {
  @include codeclass;
}

.cmdname,
.msgnum {
  @include codeclass;
  font-weight: bold;
}
