// Sass partial to override Bootstrap & user agent defaults for code styles

// Common code rules (imported to other classes)
@mixin codeclass {
  font-family: $font-family-monospace;
  font-size: 90%;
  color: $gray-light;
}

// Based on Bootstrap code rules
.parmname {
  @include codeclass;
  background-color: $pre-bg;
  color: $gray-light;
  padding: 2px 4px;
  white-space: nowrap;
}

.codeblock {
  background-color: $pre-bg;
}

// Override Bootstrap _code partials

// Inline code
code {
  background-color: transparent;
  border-radius: 0;
  color: $gray-light;
  padding: 0;
}

// User input typically entered via keyboard
kbd {
  // Prefer GitHub's presentation (mimic physical keys)
  border: solid 1px $pre-border-color;
  border-bottom-color: $kbd-shadow;
  box-shadow: inset 0 -1px 0 $kbd-shadow;
  display: inline-block;
  vertical-align: middle;
}

.codeph,
.filepath,
.option {
  @include codeclass;
}

// Ensure uniform font size for inline code classes nested within <codeblock> elements
.codeblock .cmdname,
.codeblock .filepath,
.codeblock .option,
.codeblock .varname {
  font-size: 100%;
}

.cmdname,
.msgnum {
  @include codeclass;
  font-weight: bold;
}
