.anchor-link {
  opacity: 0;
  text-decoration: none;

  &:hover {
    opacity: 1 !important;
  }

  &::after {
    content: '#';
    padding-left: 0.5em;
  }
}

.anchor-link-container:hover .anchor-link {
  opacity: 0.5;
}
