// Sass partial for additional footer styles

footer {
  background-color: $jumbotron-bg;
  border-top: 1px solid $legend-border-color;
  font-size: $font-size-sm;
  padding: $spacer 0;

  a,
  a:hover {
    color: $text-muted;
  }

  .row {
    border-top: 1px solid $legend-border-color;
  }
}
