// Sass partial for additional footer styles

footer {
  border-top: 1px solid $legend-border-color;
  font-size: $font-size-sm;
  margin-top: 30px;
  padding: $spacer 0;
  text-align: center;

  a {
    color: $text-muted;
  }
}
