// This file is part of the DITA Open Toolkit project. See the accompanying LICENSE.md file for applicable licenses.

// Sass partial for glossary style overrides

.glossAbbreviation,
.glossAcronym {
  color: $gray-600;
  font-size: $font-size-base;
  font-style: italic;
  margin: $spacer 1em;

  &::before {
    content: 'Abbreviation: “';
  }

  &::after {
    content: '”';
  }
}

.glossentry {
  margin-bottom: $spacer;
}

.glossterm {
  font-size: $h4-font-size;
}
