// Sass partial for landing page styles & overrides

// Teaser overrides
.teasers {
  text-align: center;
}

.teaser {
  svg {
    @extend .img-fluid;
    @extend .col-lg-6;
    fill: $brand-primary;

    // Invert link colors for teaser icon links
    @include hover-focus {
      fill: $link-color; // lighten($brand-primary, 20%)
    }
  }
}

.btn-success svg {
  @extend .mb-1;
  fill: $white;
}

.finch {
  margin-top: 3em;
}
