// Sass partial to override Bootstrap default navbar styles

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
  .navbar-brand {
    padding-left: 0;
  }
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;

  svg {
    fill: $navbar-dark-color;
  }
}

.navbar-nav {
  .nav-item {
    padding-bottom: $navbar-padding-y;
    padding-top: $navbar-padding-y;

    @include hover-focus {
      background-color: $navbar-dark-link-hover-bg;
    }
  }
}

.dropdown-item.active {
  font-weight: 600;
  color: $gray-900;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0.4rem 0.6rem;
  background-size: 0.75rem 0.75rem;
}
