// Style DITA note elements w/ Bootstrap components

// Apply `.alert` rule from `_alerts.scss`
div.note, div.important, div.attention {
  @extend .alert;
}

div.note a, div.important a, div.attention a {
  @extend .alert-link;
}

// Import alert settings for note variants

// Important = alert alert-warning
// Tip = alert alert-success
.note.tip {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

// Note = alert alert-info
.note {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

// Important = alert alert-warning
.important {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

// Caution, Warning = alert alert-danger
.caution, .warning {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

