// Style DITA note elements w/ Bootstrap components

// Apply `.alert` rule from `_alerts.scss`
div.note,
div.important,
div.attention {
  @extend .alert;
  margin: 1em;

  a {
    @extend .alert-link;
  }
}

// Import alert settings for note variants

// Note = alert alert-info
.note {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
  // Tip = alert alert-success
  &.tip {
    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
  }
}

// Important = alert alert-warning
.attention,
.important {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

// Caution, Warning = alert alert-danger
.caution,
.warning {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

// Title styles

// Common `.note__title` class for v2.2 and newer
// Legacy `.*title` classes for backwards compatibility w/ v2.1 and earlier (removed in v2.4)
.note__title,
.notetitle,
.tiptitle,
.fastpathtitle,
.restrictiontitle,
.importanttitle,
.remembertitle,
.attentiontitle,
.cautiontitle,
.noticetitle,
.dangertitle,
.warningtitle,
.othertitle {
  font-weight: bold;
}
