// Sass partial to override Bootstrap defaults for topic finder modal

// Override flex display
#tocSearch .modal-footer {
  display: block;

  // Remove default margin between footer elements
  > :not(:first-child) {
    margin-left: 0;
  }
  > :not(:last-child) {
    margin-right: 0;
  }
}
