// Sass partial to override Bootstrap defaults for topic finder modal

// Override flex display
#tocSearch .modal-footer {
  display: block;

  // Remove default margin between footer elements
  > :not(:first-child) {
    margin-left: 0;
  }

  > :not(:last-child) {
    margin-right: 0;
  }
}

#search input {
  background: $navbar-dark-brand-color;
  border: $input-border-width inset $navbar-dark-link-hover-bg;
  color: $navbar-dark-link-hover-bg;

  &::placeholder {
    color: $brand-primary;
    font-style: italic;
  }
}
