.modal-header {
  input {
    margin-bottom: 10px;
  }

  p {
    margin: 0 10px;
  }
}

#search input {
  background: $navbar-dark-link-hover-bg;
  border: $input-border-width inset $navbar-dark-link-hover-bg;
}
