// Style DITA table elements w/ Bootstrap components

.table {
  @extend .table-sm;
  font-size: $font-size-sm;
}

tr.row {
  display: table-row;
}

.simpletable {
  @extend .table;
  @extend .table-sm;
  font-size: $font-size-sm;
  margin: $spacer 0;
}

.strow {
  border-bottom: $table-border-width solid $table-border-color;
  border-top: $table-border-width solid $table-border-color;
}

caption {
  caption-side: top;
}
