// Style DITA table elements w/ Bootstrap components

.simpletable {
  @extend .table;
  @extend .table-sm;
  margin: $spacer 0;
}

.strow {
  border-bottom: $table-border-width solid $table-border-color;
  border-top: $table-border-width solid $table-border-color;
}
