// This file is part of the DITA Open Toolkit project. See the accompanying LICENSE.md file for applicable licenses.

// Sass partial for the DITA user interface domain

.uicontrol {
  color: $brand-primary;
  font-weight: bold;
}
