---
# Keep this YAML front matter block to trigger Jekyll processing
# See https://jekyllrb.com/docs/frontmatter for more information
# For Prettier: https://github.com/prettier/prettier/issues/4390
---

//## Override default brand colors
$brand-primary:                 #1d365d;

//** Global textual link color.
$link-color:                    lighten($brand-primary, 20%);
//** Link hover color set via `darken()` function.
$link-hover-color:              $brand-primary;

$headings-color:                $brand-primary;
$jumbotron-heading-color:       $brand-primary;


// Override default Bootstrap variable definitions
$code-color:                    #777; // $gray-light ($text-muted)
$code-bg:                       transparent;

$kbd-color:                     #555; // $gray
$kbd-bg:                        #fcfcfc;
$kbd-shadow:                    #bbb;

// Reset inverted navbar basics
$navbar-inverse-bg:             $brand-primary;

// Inverted navbar links
$navbar-inverse-link-color:     #b9c8e0;
$navbar-inverse-link-hover-bg:  darken($navbar-inverse-bg, 5%);

// Inverted navbar brand label        // DITA Open Toolkit home page
$navbar-inverse-brand-color:    #eee; // match search box background

// Color definitions for active navigation items
$nav-bg:                        lighten($brand-primary, 10%);
$nav-text:                      #fff; // white
$nav-shadow:                    rgba(0, 0, 0, 0.2);

// Import DITA-OT custom subset of Bootstrap modules
@import 'bootstrap-custom';

// Override Bootstrap & user agent defaults
@import 'code';
@import 'notes';
@import 'search';
@import 'toc';
@import 'ui-d';
@import 'xml-d';

// Additional overrides
@import 'shame';
