---
---

// Import DITA-OT custom subset of Bootstrap modules
@import 'bootstrap-custom';

// Override Bootstrap & user agent defaults 
@import 'code';
@import 'notes';
@import 'toc';
@import 'xml-d';

footer {
	text-align: center;
	font-size: smaller;
	margin-top: 30px;
	padding: 10px 0;
	border-top: 1px solid #e5e5e5;
}

.navbar-form {
	padding: 0 
}

// Fixed w/ https://github.com/dita-ot/dita-ot/pull/2097, remove once all site content has been regenerated thereafter
col {
	display: none;
}
.lq {
	font-size: 14px;
	color: #777; 
}

// Add bottom margin to nested lists & short descriptions that appear in abstracts
li.li ul.ul,
div.shortdesc {
	margin-bottom: 10px;
}

.simpletable {
	@extend .table;
}
