#content {
	margin-top: 70px;
}
footer {
	text-align: center;
	font-size: smaller;
	padding-top: 30px;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
}
nav .nav {
  padding: 0px 10px;
}
nav .well {
  padding: 10px 5px;
}

.parmname {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}