---
---

//## Override default brand colors
$brand-primary:                 #1d365d;

//** Global textual link color.
$link-color:                    lighten($brand-primary, 20%);
//** Link hover color set via `darken()` function.
$link-hover-color:              $brand-primary;

$headings-color:                $brand-primary;
$jumbotron-heading-color:       $brand-primary;


// Override default Bootstrap variable definitions
$code-color:                    #777; // $gray-light ($text-muted)
$code-bg:                       transparent;

$kbd-color:                     #555; // $gray
$kbd-bg:                        #fcfcfc;
$kbd-shadow:                    #bbb;

// Reset inverted navbar basics
$navbar-inverse-bg:             $brand-primary;

// Inverted navbar links
$navbar-inverse-link-color:     #b9c8e0;
$navbar-inverse-link-hover-bg:  darken($navbar-inverse-bg, 5%);

// Inverted navbar brand label        // DITA Open Toolkit home page
$navbar-inverse-brand-color:    #eee; // match search box background

// Color definitions for active navigation items
$nav-bg:                        lighten($brand-primary, 10%);
$nav-text:                      #fff; // white
$nav-shadow:                    rgba(0, 0, 0, 0.2);

// Import DITA-OT custom subset of Bootstrap modules
@import 'bootstrap-custom';

// Override Bootstrap & user agent defaults
@import 'code';
@import 'notes';
@import 'search';
@import 'toc';
@import 'ui-d';
@import 'xml-d';

footer {
  border-top: 1px solid $legend-border-color;
  font-size: smaller;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;
  a {
    color: $text-muted;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .navbar-brand {
    padding-left: 0;
  }
}

.navbar-form {
  padding: 0;
}

// Fixed w/ https://github.com/dita-ot/dita-ot/pull/2097, remove once all site content has been regenerated thereafter
col {
  display: none;
}

.lq {
  color: $text-muted;
  font-size: 14px;
}

// Add bottom margin to nested lists & short descriptions that appear in abstracts
li.li ul.ul,
div.shortdesc {
  margin-bottom: 10px;
}

p.shortdesc,
div.shortdesc {
  color: $text-muted;
  font-size: $font-size-large;
  line-height: $line-height-large;
}

.simpletable {
  @extend .table;
  @extend .table-condensed;
}

// Apply Bootstrap's <caption> style to figure titles (rendered as HTML5 <figcaption> elements)
figcaption {
  @extend caption;
}

// Apply Bootstrap's <p> margins to definition descriptions
dd {
  margin: 0 0 ($line-height-computed / 2);
}
