#content {
	margin-top: 70px;
}
footer {
	text-align: center;
	font-size: smaller;
	padding-top: 30px;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
}
nav .nav {
  padding: 0px 10px;
}
nav .well {
  padding: 10px 5px;
}