---
---

// Override default Bootstrap variable definitions
$code-color:                  #777; // $gray-light
$code-bg:                     transparent;

$kbd-color:                   #555;
$kbd-bg:                      #fcfcfc;
$kbd-shadow:                  #bbb;

// Color definitions for active navigation items
$nav-bg: #08c;
$nav-text: #fff; // white
$nav-shadow: rgba(0, 0, 0, 0.2);

// Import DITA-OT custom subset of Bootstrap modules
@import 'bootstrap-custom';

// Override Bootstrap & user agent defaults 
@import 'code';
@import 'notes';
@import 'toc';
@import 'xml-d';
@import 'search';

footer {
	text-align: center;
	font-size: smaller;
	margin-top: 30px;
	padding: 10px 0;
	border-top: 1px solid #e5e5e5;
}

.navbar-form {
	padding: 0 
}

// Fixed w/ https://github.com/dita-ot/dita-ot/pull/2097, remove once all site content has been regenerated thereafter
col {
	display: none;
}
.lq {
	font-size: 14px;
	color: #777; 
}

// Add bottom margin to nested lists & short descriptions that appear in abstracts
li.li ul.ul,
div.shortdesc {
	margin-bottom: 10px;
}

.simpletable {
	@extend .table;
	@extend .table-condensed;
}
