{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "css",
          "haskell",
          "java",
          "javascript",
          "json",
          "markdown",
          "markup",
          "properties",
          "yaml"],
        "theme": "twilight",
        "css": true
      }
    ]
  ]
}
