{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "bash",
          "dockerfile",
          "haskell",
          "java",
          "json",
          "markdown",
          "properties",
          "yaml"
        ],
        "theme": "twilight",
        "css": true
      }
    ]
  ]
}
