# https://prettier.io/docs/en/ignore.html

# Tell Prettier not to format the following files/paths
_layouts/**
_site/**
css/bootstrap/**
js/**

# Ignore to preserve comments in YAML front matter
# https://github.com/prettier/prettier/issues/4390
css/main.scss
