<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="dev-docs-banner">
    {% include rocket.svg %}
    <span class="note__title notetitle"> Development documentation</span> may describe unreleased
    features ·
    <a href="{{ site.baseurl }}/{{ site.release }}" class="alert-link"
      >Switch to {{ site.release }}</a
    >
    · For keyboard shortcuts, type <kbd>?</kbd>
  </p>
</div>
