<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    <span class="note__title notetitle"> Development documentation</span> might describe unreleased features and options. Switch to the latest
    <a href="{{ site.baseurl }}/{{ site.release }}" class="alert-link">released documentation</a>:
    <a class="btn btn-default btn-xs btn-warning" href="{{ site.baseurl }}/{{ site.release }}">
    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{ site.release }} Docs</a>
  </p>
</div>
