<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="dev-docs-banner">
    {% octicon beaker class:"mt-n1" %}
    <span class="note__title notetitle"> Development docs</span> may describe unreleased features ·
    <a href="{{ site.baseurl }}/{{ site.release }}" class="alert-link"
      >Go to {{ site.release }} docs</a
    >
    · For shortcuts, type <kbd>?</kbd>
  </p>
</div>
