<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <button
        class="navbar-toggler my-2"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggle"
        aria-controls="navbarToggle"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="{{ site.baseurl }}/download">Download</a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="{{ site.baseurl }}/plugins">Plugins</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              id="contributeDropdownMenuLink"
              href="#"
              role="button"
              aria-expanded="false"
              >Contribute <b class="caret"></b
            ></a>
            <div class="dropdown-menu" aria-labelledby="contributeDropdownMenuLink">
              <a class="dropdown-item" href="{{ site.baseurl }}/contributing">How To Contribute</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/management">Project Management</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/who_we_are">Who We Are</a>
              <a class="dropdown-item" href="http://slack.dita-ot.org">Join us on Slack</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://github.com/dita-ot/dita-ot"
                >DITA-OT Source Code</a
              >
              <a class="dropdown-item" href="https://github.com/dita-ot/dita-ot/issues"
                >DITA-OT Issue Tracker</a
              >
              <a class="dropdown-item" href="https://github.com/dita-ot/dita-ot/wiki"
                >DITA-OT Project Wiki</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://github.com/dita-ot/docs"
                >Documentation Source</a
              >
              <a class="dropdown-item" href="https://github.com/dita-ot/docs/issues"
                >Documentation Issues</a
              >
              <a class="dropdown-item" href="https://github.com/dita-ot/docs/wiki"
                >Documentation Wiki</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-expanded="false"
              id="supportDropdownMenuLink"
              >Support <b class="caret"></b
            ></a>
            <div class="dropdown-menu" aria-labelledby="supportDropdownMenuLink">
              <a class="dropdown-item" href="{{ site.baseurl }}/support">Support Forums</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://groups.yahoo.com/group/dita-users"
                >Yahoo! dita-users group</a
              >
              <a class="dropdown-item" href="https://groups.google.com/d/forum/dita-ot-users"
                >DITA-OT Users Google Group</a
              >
              <a class="dropdown-item" href="http://stackoverflow.com/questions/tagged/dita-ot"
                >Stack Overflow Tag: DITA-OT</a
              >
              <a class="dropdown-item" href="https://www.oasis-open.org/committees/dita/"
                >OASIS DITA Technical Committee
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ site.baseurl }}/colophon">About This Website</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-expanded="false"
              id="docsDropdownMenuLink"
              >Docs <b class="caret"></b
            ></a>
            <div class="dropdown-menu" aria-labelledby="docsDropdownMenuLink">
              <a class="dropdown-item" href="{{ site.baseurl }}/dev/">Latest Development Docs</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Current version</h6>
              <a class="dropdown-item" href="{{ site.baseurl }}/{{ site.release }}/"
                >Release {{ site.release }}</a
              >
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Previous versions</h6>
              <a class="dropdown-item" href="{{ site.baseurl }}/3.2/">3.2</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/3.1/">3.1</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/3.0/">3.0</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ site.baseurl }}/2.5/">2.5</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/2.4/">2.4</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/2.3/">2.3</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/2.2/">2.2</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/2.1/">2.1</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/2.0/">2.0</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Legacy versions (DITA ≤ 1.2)</h6>
              <a class="dropdown-item" href="{{ site.baseurl }}/1.8/">1.8</a>
              <a class="dropdown-item" href="http://dita-ot.sourceforge.net/1.7/">1.7</a>
              <a class="dropdown-item" href="http://dita-ot.sourceforge.net/1.6/">1.6</a>
              <a class="dropdown-item" href="http://dita-ot.sourceforge.net/1.5.4/">1.5</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-expanded="false"
              title="DITA-OT Day 2019"
              id="eventsDropdownMenuLink"
              >Events <b class="caret"></b
            ></a>
            <div class="dropdown-menu" aria-labelledby="eventsDropdownMenuLink">
              <h6 class="dropdown-header">Join us on November 9, 2019</h6>
              <a
                class="dropdown-item"
                href="https://www.oxygenxml.com/events/2019/dita-ot_day.html"
                target="_blank"
                >DITA-OT Day — Brussels</a
              >
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Previous events</h6>
              <a
                class="dropdown-item"
                href="https://www.oxygenxml.com/events/2018/dita-ot_day.html"
                target="_blank"
                >2018 — Rotterdam</a
              >
              <a
                class="dropdown-item"
                href="https://www.oxygenxml.com/events/2017/dita-ot_day.html"
                target="_blank"
                >2017 — Berlin</a
              >
              <a
                class="dropdown-item"
                href="https://www.oxygenxml.com/events/2016/dita-ot_day.html"
                target="_blank"
                >2016 — Munich</a
              >
              <a
                class="dropdown-item"
                href="https://www.oxygenxml.com/events/2015/dita-ot_day.html"
                target="_blank"
                >2015 — Munich</a
              >
              <a
                class="dropdown-item"
                href="https://www.oxygenxml.com/events/2014/dita-ot_day.html"
                target="_blank"
                >2014 — Munich</a
              >
            </div>
          </li>
        </ul>

        <form class="form-inline" id="search" role="search">
          <div class="form-group">
            <label for="q">{% octicon search class:"bg-gradient-light mr-2" %}</label>
            <input
              type="text"
              name="q"
              class="form-control"
              maxlength="255"
              placeholder="Search the latest docs…"
            />
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
