<div class="modal fade" id="keyboardHelp" tabindex="-1" role="dialog" aria-labelledby="keyboardHelpLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="keyboardHelpLabel">Keyboard shortcuts</h4>
      </div>
      <div class="modal-body">
        <p class="small">You’ve activated the <em>keyboard shortcuts</em> help by typing “<strong>?</strong>”. 
        Press <kbd>ESC</kbd> to close this dialog.</p>
        <table class="small table">
          <tr>
            <td><kbd>t</kbd></td>
            <td>Open the <em>topic finder</em> to filter the list of topic titles</td>
          </tr>
          <tr>
            <td><kbd>s</kbd></td>
            <td>Use the <em>search</em> field to find text in topic content</td>
          </tr>
          <tr>
            <td><kbd>?</kbd></td>
            <td>Show this list of keyboard shortcuts</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
