<div class="alert alert-secondary alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="old-docs-banner">
    {% octicon archive class:"mt-n1" %}
    <span class="note__title notetitle mx-1">Old docs</span> This is an older version of the
    documentation. Switch to the current release
    <a href="{{ site.baseurl }}/{{ site.release }}" class="alert-link">{{ site.release }}</a> or the
    latest <a href="{{ site.baseurl }}/dev" class="alert-link">development documentation</a>.
  </div>
</div>
