<div class="modal fade" id="tocSearch" tabindex="-1" role="dialog" aria-labelledby="tocSeachLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="tocSeachLabel">Find topics by title</h4>
        <input type="text" id="tocSearchInput" style="width:100%"/>
        <p class="small">You’ve activated the <em>topic finder</em> by typing “<strong>t</strong>”. Start typing to filter the list of topics.</p>
        <p class="small">Use <kbd>↑</kbd> and <kbd>↓</kbd> to navigate the results. Press <kbd>ENTER</kbd> to view a topic, or <kbd>ESC</kbd> to close this dialog.</p>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
