<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>
    <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
    <span class="note__title notetitle"> Help us improve</span>
    — If you have a moment, please answer a few questions to help us understand how you use this site.
    <a class="btn btn-success btn-xs pull-right" target="_blank" rel="noopener"
       href="https://www.surveymonkey.com/r/dita-ot-org">
      <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Take the survey
    </a>
  </p>
</div>
