<div class="well">
  <ul class="nav nav-list">
    <li {% if page.url == "/index.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/index.html">Overview</a></li>
    <li {% if page.url == "/features.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/features.html">Features</a></li>
    <li {% if page.url == "/download.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/download.html">Download</a></li>
    <li {% if page.url == "/documentation.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/documentation.html">Documentation</a></li>
    <li {% if page.url == "/get-involved.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved.html">Get Involved</a></li>
    <li {% if page.url == "/license.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/license.html">License</a></li>
    <li {% if page.url == "/who_we_are.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/who_we_are.html">Who We Are</a></li>
    <!--li class="nav-header">Resources</li-->
    <li><a href="https://github.com/dita-ot/dita-ot/issues" target="_blank">Issue Tracking</a></li>
    <li><a href="https://github.com/dita-ot/dita-ot" target="_blank">Version Control</a></li>
    <li><a href="http://dita.xml.org/wiki/the-dita-open-toolkit" target="_blank">Wiki</a></li>
  </ul>
</div>