<div class="well">
  <ul class="nav nav-list">
    <!--li {% if page.url == "/index.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/index.html">Overview</a></li-->
    <!--li {% if page.url == "/features.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/features.html">Features</a></li-->
    <!--li {% if page.url == "/download.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/download.html">Download</a></li>
    <li {% if page.url == "/documentation.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/documentation.html">Documentation</a></li>
    <li {% if page.url == "/get-involved.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved.html">Get Involved</a></li-->
    <!--li {% if page.url == "/license.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/license.html">License</a></li-->
    <!--li class="nav-header">Resources</li-->
    <li><a href="https://github.com/dita-ot/dita-ot">Source at GitHub</a></li>
    <li><a href="https://github.com/dita-ot/dita-ot/issues">Issue Tracker</a></li>
    <li {% if page.url == "/participate.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/participate">Participate</a></li>
    <li {% if page.url == "/management.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/management">Project management</a></li>
    <li {% if page.url == "/contribution_policy.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/contribution_policy">Contribution policy</a></li>
    <li {% if page.url == "/who_we_are.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/who_we_are">Contributors</a></li>
    <!--li><a href="http://dita.xml.org/wiki/the-dita-open-toolkit">Wiki</a></li-->
    <li class="nav-header">Resources and mailing lists</li>
    <li><a href="http://tech.groups.yahoo.com/group/dita-users/">DITA users group</a></li>
    <li><a href="https://groups.google.com/d/forum/dita-ot-users">DITA-OT Users</a> </li>
    <li><a href="https://groups.google.com/d/forum/dita-ot-dev">DITA-OT developer</a> </li>
    <li><a href="http://dita.xml.org/wiki/the-dita-open-toolkit">Project page at dita.xml.org</a></li>
    <li><a href="http://www.oasis-open.org/committees/dita/">OASIS DITA Technical Committee </a></li>
  </ul>
</div>
