<div class="well">
  <ul class="nav nav-list">
    <!--li {% if page.url == "/index.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/index.html">Overview</a></li-->
    <!--li {% if page.url == "/features.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/features.html">Features</a></li-->
    <!--li {% if page.url == "/download.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/download.html">Download</a></li>
    <li {% if page.url == "/documentation.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/documentation.html">Documentation</a></li>
    <li {% if page.url == "/get-involved.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved.html">Get Involved</a></li-->
    <!--li {% if page.url == "/license.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/license.html">License</a></li-->
    <!--li class="nav-header">Resources</li-->
    <li><a href="https://github.com/dita-ot/dita-ot">Source at GitHub</a></li>
    <li><a href="https://github.com/dita-ot/dita-ot/issues">Issue Tracker</a></li>
    <li {% if page.url == "/who_we_are.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/who_we_are.html">Contributors</a></li>
    <!--li><a href="http://dita.xml.org/wiki/the-dita-open-toolkit">Wiki</a></li-->
    <li class="nav-header">Mailing lists</li>
    <li><a href="http://tech.groups.yahoo.com/group/dita-users/">DITA users group</a></li>
    <li><a href="http://sourceforge.net/mailarchive/forum.php?forum_name=dita-ot-developer">DITA-OT developer</a> </li>
  </ul>
</div>