<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if page.url contains '/dev/' %}
    <meta name="docsearch:version" content="dev">
    {% elsif page.url contains '/4.2/' %}
    <meta name="docsearch:version" content="4.2">
    {% elsif page.url contains '/4.1/' %}
    <meta name="docsearch:version" content="4.1">
    {% elsif page.url contains '/4.0/' %}
    <meta name="docsearch:version" content="4.0">
    {% elsif page.url contains '/3.7/' %}
    <meta name="docsearch:version" content="3.7">
    {% elsif page.url contains '/3.6/' %}
    <meta name="docsearch:version" content="3.6">
    {% elsif page.url contains '/3.5/' %}
    <meta name="docsearch:version" content="3.5">
    {% elsif page.url contains '/3.4/' %}
    <meta name="docsearch:version" content="3.4">
    {% elsif page.url contains '/3.3/' %}
    <meta name="docsearch:version" content="3.3">
    {% elsif page.url contains '/3.2/' %}
    <meta name="docsearch:version" content="3.2">
    {% elsif page.url contains '/3.1/' %}
    <meta name="docsearch:version" content="3.1">
    {% elsif page.url contains '/3.0/' %}
    <meta name="docsearch:version" content="3.0">
    {% elsif page.url contains '/2.5/' %}
    <meta name="docsearch:version" content="2.5">
    {% elsif page.url contains '/2.4/' %}
    <meta name="docsearch:version" content="2.4">
    {% elsif page.url contains '/2.3/' %}
    <meta name="docsearch:version" content="2.3">
    {% elsif page.url contains '/2.2/' %}
    <meta name="docsearch:version" content="2.2">
    {% elsif page.url contains '/2.1/' %}
    <meta name="docsearch:version" content="2.1">
    {% elsif page.url contains '/2.0/' %}
    <meta name="docsearch:version" content="2.0">
    {% elsif page.url contains '/1.8/' %}
    <meta name="docsearch:version" content="1.8">
    {% endif %}
    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" sizes="any">
    <link rel="icon" href="{{ site.baseurl }}/images/dita-ot-logo.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
    {% if page.index %}
    <link href="{{ page.index }}" rel="index">
    {% endif %}
    {% if page.name == 'index.html' %}
      {% assign paths = page.path | split: '/' %}
      <link href="/{% for path in paths %}{% if forloop.last == false %}{{ path }}/{% endif %}{% endfor %}" rel="canonical">
    {% endif %}
  </head>
  <body>
    {% include header.html %}
    {% if page.url contains '/dev/' %}
      {% include docs-banner-dev.html %}
    {% elsif page.url contains '/4.2/' %}
      {% include docs-banner-new.html %}
    {% elsif page.url contains '/4.1/'
          or page.url contains '/4.0/'
          or page.url contains '/3.7/'
          or page.url contains '/3.6/'
          or page.url contains '/3.5/'
          or page.url contains '/3.4/'
          or page.url contains '/3.3/'
          or page.url contains '/3.2/'
          or page.url contains '/3.1/'
          or page.url contains '/3.0/'
          or page.url contains '/2.5/'
          or page.url contains '/2.4/'
          or page.url contains '/2.3/'
          or page.url contains '/2.2/'
          or page.url contains '/2.1/'
          or page.url contains '/2.0/'
          or page.url contains '/1.8/' %}
      {% include docs-banner-old.html %}
    {% endif %}
    <div id="content" class="container">
      <div class="row">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    {% include search.html %}
    {% include help.html %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/js/main.js" type="text/javascript" ></script>
    <script src="https://cdn.usefathom.com/script.js" site="MEDTXGXM" defer></script>
    <script type="text/javascript">
      docsearch({
        container: '#docsearch',
        appId: '3RVXFPL77E',
        apiKey: '10c10e348f7e5a284187d61528d54b5f',
        indexName: 'dita-ot',
        inputSelector: '#search input[type=text]',
        algoliaOptions: {
          hitsPerPage: 10,
        },
        debug: false
      });
    </script>
  </body>
</html>
