<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
    {% if page.index %}
    <link href="{{ page.index }}" rel="index">
    {% endif %}
  </head>
  <body>
    {% include header.html %}
    <main id="content" role="main">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include search.html %}
    {% include help.html %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/js/main.js" type="text/javascript" ></script>
    <script type="text/javascript">
      docsearch({
        apiKey: 'fdd89b9b35b9bd347f34111dbc1c6219',
        indexName: 'dita-ot',
        inputSelector: '#search input[type=text]',
        algoliaOptions: {
          hitsPerPage: 10,
        },
        debug: false
      });
    </script>
  </body>
</html>
